@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);


.heading {
    font-size: 2vw;
}
html {
    background: #29ce9a;
    font-family: Raleway;
    display: table;
    width: 100%;
    height: 100%;
}

body {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.demo {
    display: inline-block;
    padding: 5vw;
    color: #f8f8f8;
    text-align: center;
    border:solid 1px #000000;
    background-image: url('src/jpegs/oldCarpet.jpg');
    background-size: 150vw 150vh; /* Фиксированный размер изображения */
    background-repeat: no-repeat; /* Чтобы картинка не повторялась */
    background-position: center; /* Центрирование изображения */
    border-radius: 30% 15% 45% 20% / 50% 40% 15% 45%; /* Закругленные углы с разными радиусами */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}



.demo__content {
    display: flex;
    flex-direction: column; /* Располагаем элементы в столбик */
    gap: 15px; /* Отступ между чекбоксами */
}

.demo__title {
    font-size: 3vw;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 2vw;
}

.switcher {
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding-left: 7vw;
    height: 3vw;
    line-height: 3vw;
    margin: 0.5vw;
    font-size: 2vw;
    user-select: none;

    input {
        display: none;
    }
}

/* Это для текста рядом с переключателем */
.switcher span {
    font-size: 2vw;  /* Устанавливаем размер шрифта для текста рядом со свитчерами */
}

.switcher__indicator {
    &::after {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        height: 3vw;
        width: 3vw;
        background-color: #d5d5d5;
        border-radius: 50%;
        transition: all .3s ease;
        animation-name: pulsein;
        animation-duration: .3s;
    }

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 6vw;
        height: 90%;
        background-color: #b56c6c;
        border-radius: 1vw;
        transition: all .3s ease;
    }

    input:checked + &::after {
        background-color: #1c7046;
        transform: translate(4vw, -50%);
        animation-name: pulseout;
        animation-duration: .3s;
    }

    input:checked + &::before {
        background-color: #1e8868;
    }

    input:disabled + &::after,
    input:disabled + &::before {
        background-color: #e5e5e5;
    }
}

@keyframes pulsein {
    0%, 100% {
        height: 3vw;
        width: 3vw;
    }
    50% {
        height: 2.5vw;
        width: 3.5vw;
    }
}

@keyframes pulseout {
    0%, 100% {
        height: 3vw;
        width: 3vw;
    }
    50% {
        height: 2.5vw;
        width: 3.5vw;
    }
}
