body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.portfolio-container {
    display: flex;
    width: 100vw;
    height: 50vh;
    background: #222;
    gap: 0.5vw;
    padding: 2vw;
}

.portfolio-item {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, #ff7e5f, #feb47b);
    color: white;
    font-size: 1.5rem;
    border-radius: 1vw;
    border-color: #83318c;
    cursor: pointer;
    transition: flex 0.3s ease-in-out;
}

/* Увеличение при наведении */
.portfolio-item.hovered {
    flex: 1.5;
    transform: scale(1.5);
}
